# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
Flask
connexion[flask]
connexion[uvicorn]
connexion[swagger-ui]
Flask-Injector
injector
flask_cors
shortuuid
gunicorn
flask_sqlalchemy
pymysql
cryptography
confluent-kafka